
@{
    ViewData["Title"] = "Check Your Inbox";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="col-md-6 col-lg-5">
	<div class="login-wrap p-4 p-md-5">
		<div class="icon d-flex align-items-center justify-content-center">
			<span class="fa fa-user-o"></span>
		</div>
		<div class="login-form">
			<div class="form-group">
				Passowrd reset link has been sent to your email. Please check your inbox.
			</div>
			<a href="https://mail.google.com/mail/">Go to your inbox.</a>
		</div>
	</div>
</div>
