@model Department


<div class="modal-header">
    asfjklasdfl;jkasdfj;klasjdfkl;asdfjkljasdfklsfjkldasjldfkjasdfkloasdfjkllasdfjkjlksdf
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title" id="myModalLabel">FriendsInfo</h4>
</div>    