@model EmployeeViewModel
@{
	ViewData["Title"] = "Details";
}

<h1> Employee Delete</h1>
<br />

<div>
	<partial name="PartialViews/DetailsDeletePartialView" />
	<form asp-action="Delete">
		<input type="submit" value="Delete" asp-action="Delete" class="btn btn-danger" />
		<a asp-action="Index" class="btn btn-light">Cancel</a>
	</form>
</div>